.wrapper {
  @include flex(center, center);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bg-404);
  flex-direction: column;
  min-height: 73vh;

  .image {
    // background
  }
  h2 {
    color: var(--color-text);
  }
  a:hover {
    text-decoration: underline;
    color: var(--hover-primary);
  }
}
