.btn {
  background-color: var(--btn-bg);
  color: var(--btn-color) !important;
  border: 1px solid $color-primary-dark;
  min-width: 68px;
  text-align: center;
  vertical-align: middle;
  padding: 11px 16px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
  &:hover {
    // color: $color-primary-dark;
    background-color: var(--btn-hover);
  }
}
