.code-wrapper {
  background-color: $code-block-color;
  position: relative;
  border-radius: 8px;
  color: $code-block-text-color;
  margin-top: -1px;
  pre{
	padding:16px;
    line-height: 1.5;
  }
  .linenumber{
	min-width: 1.5em!important;
	text-align: left!important;
	padding-right: 0px!important;
  }
  .copy-wrappper {
    @include flex(center, center);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.05);
    z-index: 3;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 8px;
    right: 8px;
	cursor: pointer;
	opacity: 0.7;
  }
}

.language-wrapper {
  background-color: $code-block-color;
  color: $code-block-text-color;
  margin-left: 15px;
  font-size:1rem;
  padding: 5px 10px;
  width: fit-content;
  z-index: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
