.login-modal {
  .title {
    text-align: center;
  }
  .social-text {
    font-weight: 400;
    margin-left: 10px;
    margin-bottom: 0px;
  }
}
.social-wrapper {
  $button-width: 100%;
  & > span {
    width: $button-width;
  }
  width: $button-width;

  @media screen and (min-width: 768px) {
    $button-width: 345px;
    & > span {
      width: $button-width;
    }
    width: $button-width;
  }

  @include flex(center, space-between);
  flex-wrap: wrap;
  // For facebook

  .login-button {
    @include flex(center, flex-start);
    display: flex;
    height: 54px;
    border: none;
    width: 100%;
    border-radius: 10px !important;
    padding: 15px !important;
    margin-bottom: 15px;
    & > span {
      @include flex(center, center);
      display: flex !important;
    }
    // background-color: #4285f4;
    transition: background-color 0.2s ease-in-out;
    .icon {
      @include flex(center, center);
      width: 40px;
      height: 40px;
    }
    svg {
      cursor: pointer;
    }
    h4 {
      @extend .social-text;
    }
  }
}
.google-btn {
  box-shadow: none !important;
  background-color: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168) !important;
  // color: #E5E5E5 !important;
  opacity: 1!important;
  & > span {
    padding: 0px !important;
  }
}
.facebook-btn {
  background-color: #1877f2;
  color: #fff;
  @extend .social-text;
  margin-left: 0px !important;
  font-size: 1.5rem;
  & svg {
    margin-right: 10px;
  }
}
.github-btn {
  background-color: #000000;
  color: #fff;
}
