.nav {
  padding: 5px;
  position: fixed;
  top: -1px;
  transition: all 0.2s;
  will-change: auto;
  z-index: 101;
  svg {
    fill: $color-primary-dark;
  }
  background-color: var(--bg-primary);
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 10%);
  .expertContainer {
    justify-content: center;
    align-items: center;
  }
  .expertContainer a {
    font-weight: 600;
    color: $color-primary-dark;
    min-width: 68px;
    display: inline-flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 15px !important;
    font-family: Inter, 'sans-serif';
    line-height: 20px;
    transition: background-color 0.2s ease-in-out;
    @include mobile {
      font-size: 16px;
      padding: 3px;
    }
    &:hover {
      background-color: #d1d0d3;
    }
  }
  .row {
    margin: 0px !important;
    box-sizing: border-box;
  }
  .contentContainer {
    // @include flex(center, flex-start);
    align-items: center;
    justify-content: flex-start;
    @include large {
      justify-content: flex-start;
    }
  }
  .logo {
    cursor: pointer;
    height: 70px;
    @media only screen and (max-width: $small-width) {
      text-align: center;
    }
    span {
      height: 100% !important;
    }
  }

  &-item {
    font-size: 18px;
    cursor: pointer;
    width: max-content !important;
    // font-weight: 500;
    color: var(--color-text-primary);
    margin: 0 10px;
    position: relative;
    & a {
      text-decoration: none;
      font-size: inherit;
      color: inherit;
    }
    // text-transform: uppercase;
    &:hover {
      color: $text-hover-primary;
    }
    &:hover .dropDownMenu {
      display: block;
    }
    .dropDownMenu {
      position: absolute;
      top: 100%;
      left: 0%;
      display: none;
      background-color: rgba(0, 0, 0, 0.85);
      width: 100%;
      .dropDownItem {
        padding: 10px;
        color: $color-primary-light;
        &:hover {
          color: $text-hover-primary;
        }
      }
    }
  }

  .accountContainer {
    //   width: 20%;
    margin-left: 10px;
    @include flex(center, center);

    & .item {
      text-align: center;
      font-weight: 600;
      //   cursor: pointer;
      display: flex;
      color: var(--color-text-primary);
      .divide {
        @include flex(flex-start, center);
        margin: 0 4px;
        padding: 5px;
      }
      p,
      svg {
        cursor: pointer;
        fill: $color-primary-dark;
      }
      p {
        padding: 5px;
      }
      p:hover {
        color: $text-hover-primary;
      }
    }
  }
}

.nav-dark {
  // background-color: $color-primary-dark;
  color: $color-primary-light;
}
.nav-light {
  background-color: $color-primary-light;
  color: var(--color-text-primary);
}
.searchContainer {
  position: fixed;
  z-index: 100;
  width: calc(100% - 10px);
  height: 70px;
  @include flex(center, flex-start);
  top: 0px;
  visibility: hidden;
  padding: 5px;
  box-sizing: border-box;
  transition: all 0.2s;
  .searchIcon {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 20px;
    fill: $color-primary-dark;
    z-index: 1;
  }
  .closeIcon {
    position: absolute;
    right: 0px;
    top: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
    fill: var(--color-text);
  }
  .input {
    position: absolute;
    padding: 10px 10px 10px 30px;
    border: none;
    width: 100%;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
  }
}
.hideSidebar {
  transition: all 0.3s;
  overflow: hidden;
  position: fixed;
  width: 0px;
  z-index: 1000;
  height: 100vh;
  top: 0px;
  box-sizing: border-box;
  visibility: hidden;
  padding: 10px;
  background-color: var(--color-body);
  & .icon {
    position: absolute;
    fill: var(--color-text);
    top: 20px;
    right: 20px;
  }
  & .title {
    text-align: center;
    color: $color-primary-dark;
    margin-block-start: 0px;
  }

  & .item {
    color: var(--color-text);
    padding: 10px;
    text-decoration: none;
    display: block;
    &:hover {
      background-color: $border-color;
    }
    border-bottom: 1px solid $border-color;
  }
}
