.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 1em;
  margin: 0 0 10px;
  color: inherit;
  color: var(--color-text);
  a {
    text-decoration: none;
  }
}
