body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
.d-flex {
  display: flex;
}
.d-none {
  display: none;
}
.visibility-hidden {
  visibility: hidden;
}
.opacity-0 {
  opacity: 0;
}
.show {
  opacity: 1;
}
.row{
	display: flex;
	width: 100%;
}
.hide {
  opacity: 0;
}
@each $number in $w-numbers {
  .w-#{$number} {
    width: $number * 1%;
  }
}

@each $number in $numbers {
  .col-#{$number} {
    width: (100 * $number) / $colMax * 1%;
  }

  @include mobile {
    .col-sm-#{$number} {
      width: (100 * $number) / $colMax * 1%;
    }
  }
}
