@mixin large {
  @media screen and (min-width: $large-width) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: $medium-width) {
    @content;
  }
}

@mixin small {
  // and (max-width: $large-width)
  @media only screen and (min-width: $small-width) {
    @content;
  }
}
// and (max-width: $medium-width)

@mixin mobile {
  @media only screen and (min-width: $small-width) {
    @content;
  }
}

@mixin flex($align-item: flex-start, $justify-content: center) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
}

@mixin excerp($lineCount: 3) {
  -webkit-line-clamp: $lineCount;
  display: block;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin scrollbar(
  $width: 8px,
  $track-color: var(--scroll-bar-track),
  $thumb-color: var(--scroll-bar-thumb),
  $thumb-hover: var(--scroll-bar-thumb-hover)
) {
  ::-webkit-scrollbar {
    width: $width;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $track-color;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $thumb-color;
    cursor: pointer;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $thumb-hover;
  }
}
