$color-primary-dark: #171E22;
$color-primary-light: rgb(255, 255, 255);
$color-text-primary-light: rgb(243 244 246);
$color-text-primary-dark: #74717a;
$text-hover-primary:#171E22;
$numbers: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);
$w-numbers: (10, 20, 30, 40, 50, 60, 70, 80, 90, 100);
$colMax: 12;

$mobile-width: 600px;
$tablet-width: 1024px;
